/* ------------------------------ Estilos del botón id=login ------------------------- */
#login {
    background-color: #345a18;
    
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login:disabled{
    background-color: #dddddd; 
    color: #666666; 
    cursor: not-allowed; 
}

#login:hover {
    background-color: #789461;
}

/* Estilo base para los botones */
.tab button {
    background-color: #345a18;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}

/* Estilo para los botones activos */
.tab button.active {
    background-color: #789461;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px; /* Agrega margen inferior para separación */
}



.buttons-container {
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #345a18;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}

.button:hover {
    background-color: #789461;
}