/* --------------------------------------------- Estilos del header ----------------------------------------*/
#logo {
    margin-left: 5%;
}

#logo a{
    text-decoration: none;
    color: #345a18;
    font-size: 150%;
    font-family:'Times New Roman', Times, serif
}

nav {
    margin-right: 20px;
}

nav ul {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a {
    color: rgb(32, 47, 29);
    text-decoration: none;
}