body {
    background-image: url('/TFG/public/img/ranking_background.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Cubre toda la pantalla con la imagen */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/*#header-main-ranking{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(231,238,221,1) 69%, rgba(212,230,187,1) 74%);
}*/
.container {
    display: flex;
}

.main-container {
    margin-top: -150px; /* Ajustar el margen superior negativo según sea necesario */
}

.left-column {
    width: 60vw;
    height: 80vh;
    border: 2px solid #009879;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

.space-between {
    width: 8%; /* Ajustar el tamaño del espacio entre columnas según sea necesario */
}

.right-column {
    width: 25vw;
    height: 35vh;
    border: 2px solid #009879;
    border-radius: 20px;
    margin-bottom: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

.ranking-title {
    color: #345a18; /* Color del texto del título */
    font-size: 24px; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Espaciado inferior del título */
}

.sombra2 {
    text-shadow: 2px 4px 3px #009879;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arial Black';
}

.frame-avatar {
    border-radius: 20px;
    border: 2px solid black;
    width: 100px;
    height:100px;
    margin: auto;
    margin-bottom: 10%;
    margin-right: 20%;
}

* {
    /* Change your font family */
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 75%;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    margin-right: 25%;
    padding: 20px;
    border-radius: 5px;
}

.form-row {
    margin-bottom: 5%;
}

.form-row-user {
    display: flex;
}

.form-container label {
    text-align: left;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    color: #009879;
}

.form-container label + label {
    margin-left: 10px;
    font-weight: normal;
}

#user-name-text {
    margin-top: 15%;
    color: #009879;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.medal-container {
    position: relative;
    display: inline-block;
}

.medal-container label {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    color: black;
    font-weight: bold;
}

#medal-image {
    width: 500px;
    height: 250px;
}

#medal-name1 {
    top: 36%;
    left: 15%;
}

#medal-score1 {
    top: 66%;
    left: 15%;
}

#medal-name2 {
    top: 36%;
    left: 46%;
}

#medal-score2 {
    top: 66%;;
    left: 46%;
}

#medal-name3 {
    top: 36%;
    left: 77%;
}

#medal-score3 {
    top: 66%;
    left: 77%;
}

/*Responsive*/
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column; /* Cambia la dirección del flex container a columna */
    }

    .left-column {
        width: 100%; /* Ancho completo en pantallas más pequeñas */
        height: auto; /* Altura automática */
    }

    .right-column {
        width: 100%; /* Ancho completo en pantallas más pequeñas */
        height: auto; /* Altura automática */
    }

    .frame-avatar {
        margin-right: 0; /* Elimina el margen derecho para que ocupe todo el ancho */
    }

    .form-container {
        margin-right: 0; /* Elimina el margen derecho */
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .form-row {
        margin-bottom: 20px; /* Aumenta el espacio entre filas */
    }

    #user-name-text {
        position: static; /* Elimina la posición absoluta */
        text-align: center; /* Centra el texto */
        margin-bottom: 20px; /* Aumenta el espacio entre el avatar y el nombre de usuario */
    }
}
