*,
*::before,
*::after {
  /*Esto hace que el navegador incluya el padding y el borde en el ancho y alto del elemento, en lugar de agregarlos al tamaño del contenido.
  Esto significa que si especificas un ancho o alto para un elemento el padding y el borde se agregarán a esos valores, lo que facilita el diseño.
  Por eso se aplica a todos lo elementos*/
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* display: grid; */

    background-image: url('../../public/img/ranking_background.jpg');
    background-size: cover; /* Cubre toda la pantalla con la imagen */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
}


header {
    position: absolute;
    width: 100%;
    height: 10vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    text-align: center;
    box-sizing: border-box;
    padding: 10%;
    height: fit-content;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(32, 47, 29);
    
}


#logo {
    margin-left: 5%;
}

nav {
    margin-right: 20px;
}

nav ul {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a{
    color: rgb(32, 47, 29);
    text-decoration: none;
}

#login {
    background-color: rgb(52, 90, 24);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer a {
    color: #050303;
    text-decoration: none;
    margin: 0 10px;
}










.main-container {
    display: grid;
    /*border: 2px solid black;*/
    /*Mete un poco de margen a los lados para que los elementos no toquen los lados de la pantalla*/
    padding-inline: 1rem;
    /*Para marcar el tamaño máximo que puede tener independientemente de cuanto se agrande la pantalla*/
    max-width: 1280px;
    /*Para dejar un espacio igual a ambos lados del div*/
    margin-inline: auto;
}

#header-main-about-us {
    position: relative;
}

.card {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20%;
    gap: 10%;
}

#card4 {
    padding-bottom: 0%;
}

@media (max-width: 800px) {
    .card {
        display: grid;
    }

    .card * {
        text-align: center;
    }
}

.card h1, h3, p{
    text-align: left;
}

.copyright p {
    text-align: center;
}

.text, .img {
    flex: 1;
}

.text p {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5;
    color: #42474c;
}

.card img {
    width: 75%;
    border-radius: 10px;
    height: auto;
}

#card2 img {
    width: 100%;
}

#card3 {
    display: grid;
    gap: 0%;
    padding-bottom: 0%;
}

#card3-h3, #card3-h1, #card3-p {
    text-align: center;
}

#card3-img {
    width: 75%;
    margin-left: 12.5%;
}

#card4 p{
    text-align: center;
    padding-bottom: 2%;
}

#card4 a {
    background-color: #345a18;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

#card4 a:hover {
    border: 2px solid #009879;
    color:#009879
}




/* Añadir reglas específicas para dispositivos móviles */
@media (max-width: 768px) {
    main {
        margin-top: 20vh;
    }

    /* Ajustar el tamaño del texto para dispositivos móviles */
    .card h1, .card h3, .card p {
        font-size: 14px;
        text-align: center;
    }

    /* Ajustar el tamaño de la imagen para dispositivos móviles */
    .card img {
        width: 75%;
    }

    /* Cambiar la disposición de los elementos en dispositivos móviles */
    .card {
        flex-direction: column;
        gap: 5%;
    }

    /* Ajustar el padding de card4 en dispositivos móviles */
    #card4 {
        padding-bottom: 5%;
    }

    /* Añadir márgenes inferiores a los párrafos */
    .text p {
        margin-bottom: 15px;
    }

    /* Ajustar el tamaño del botón en dispositivos móviles */
    #card4 a {
        padding: 8px 16px;
        font-size: 16px;
    }

    /* Ajustar el tamaño del footer en dispositivos móviles */
    footer {
        padding: 20px 0;
    }

    /* Ajustar el tamaño del texto de derechos de autor en dispositivos móviles */
    .copyright p {
        font-size: 14px;
    }

    /* Cambiar el orden de los elementos dentro de card2 en dispositivos móviles */
    #card2 {
        display: flex;
        flex-direction: column-reverse; /* Cambia el orden de los elementos */
    }

    /* Ajustar el estilo del texto en dispositivos móviles */
    #card2 .text {
        margin-bottom: -10px; /* Espacio entre el texto y la imagen */
        margin-top: 40px;
    }

    /* Ajustar el estilo de la imagen en dispositivos móviles */
    #card2 .img {
        margin-top: 20px; /* Espacio entre la imagen y el texto */
    }
}

/* Estilo base para los botones */
.tab button {
    background-color: #345a18;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}

/* Estilo para los botones activos */
.tab button.active {
    background-color: #009879;
}

#card5 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

#card5 {
    font-size: 24px;
}

#card5 h1 {
    text-align: center; /* Esto centra el contenido del div */
}

#card1 img {
    width: 100%;
    border-radius: 10px;
}

#card6 img {
    width: 90%;
    border-radius: 10px;
}

#card4 {
    font-size: 20px;
}

#card4 h1 {
    text-align: center;
}