
.NPC {
  border: none !important;
  outline: none;
}

body {
  background-image: url("../../assets/img/web/background2.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;

}

header{
  width: 100%;
  height: 120px;
  text-align: center;
  background-image: url("../../assets/img/web/header.png");
  background-size: cover;
}

header img {
  height: 100%; /* establece la altura de la imagen al 100% de la altura del encabezado */
  width: 30%; /* hace que el ancho de la imagen se ajuste automáticamente proporcionalmente al nuevo tamaño de la altura */
}

button{
  background-size: cover;
  background-color: transparent;
  outline: auto;
}

.Controles {

  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0;  
  background-image: url("/assets/img/web/pestana.png");
}

.grid-item {
  height: 200px;
  background-color: transparent;
  text-align: center;
  line-height: 200px;
}

.grid-item2 {
  text-align: center;
  background-color: transparent;
  color:white;
  font-weight: bolder;
  
}

.grid-item img{
  max-width: 100%;
  max-height: 100%;
}


#juego  {
 position: relative;
  width: 100%;
  height: auto;
  
}
canvas  {
  position: relative;
   width: 100%;
   height: auto;
   
 }

#Company img {
  max-width:10%;
  max-height: 15%;
  margin: auto;
  
}

footer {
  bottom: 0;
  width: 100%;
}

.container {
  margin: 0;
  background-image: url("../../assets/img/web/footer.png");
  text-align: center;
  padding: 100px;
}

.left-buttons {
  
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}
.texto{
text-align: center;
color: white;

}

.texto img{
width: 20%;
}
